.company-value {
    display: flex;
    align-items: center;
}

.circle {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;

}

.circle h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow {
    width: 200px;
    height: 2px;
    background-color: #000;
    position: relative;
}

.arrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    transform: translateY(-40%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}