.testimonials-container {
  height: 80vh;
  margin-top: 10px;

  h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 65px;
    text-align: right;
    color: #2d3134;
    padding-bottom: 20px;

    @media only screen and (max-width: 480px) {
      line-height: normal;
      padding-top: 30px;
      font-size: 36px;
      height: 100%;
    }
    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }

  @media only screen and (max-width: 480px) {
    padding-top: 50px;
  }

  @media only screen and (min-width: 1920px) {
    height: 50vh;
  }
}

.testimonials-wrapper {
  margin: 10px 150px;
  padding: 10px;

  @media only screen and (max-width: 840px) {
    // margin: 0 50px;
  }

  @media only screen and (min-width: 1920px) {
    margin: 0 350px;
  }
}
