.testimonials-container {
  height: 80vh;
  //   background-color: rgb(190, 63, 63);

  h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 65px;
    text-align: right;
    color: #2d3134;
    padding-bottom: 20px;
  }
}

.testimonials-wrapper {
  //   background: red;
  margin: 10px 150px;
  padding: 10px;
}
