.header-container {
  width: 100%;
  height: 120vh;
  background: url(../../images/pic_hero.png) no-repeat center/cover;
  position: relative;

  .header-headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 480px) {
      width: 100%;
    }

    h1 {
      color: var(--gray-color);
      font-size: 60px;
      line-height: 118px;
      font-weight: 700;
      text-shadow: 0px 11px 15px rgba(0, 0, 0, 0.25);
      letter-spacing: 0.01em;

      @media only screen and (max-width: 480px) {
        font-size: 50px;
      }
    }
    .headline-content {
      h5 {
        font-weight: 600;
        font-size: 25px;
        text-align: center;
        letter-spacing: 0.01em;
        text-shadow: 0px 11px 15px rgba(0, 0, 0, 0.25);

        @media only screen and (max-width: 480px) {
          font-size: 18px;
        }
      }
    }
    .headline-contact-link {
      padding-top: 90px;

      .contact-btn {
        background-color: var(--white-color);
        padding: 8px 70px;
        // border: 2px solid var(--white-color);
        border: none;
        outline: none;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.2s ease-in;

        a {
          color: var(--black-color);
          font-size: 18px;
        }
        &:hover {
          box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.6);
        }
      }
      @media only screen and (max-width: 480px) {
        padding-top: 40px;
      }
    }
  }

  @media only screen and (max-width: 480px) {
    height: 90vh;
    background-position: 40% 10%;
  }
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(228, 228, 228, 0.4);
  height: 55px;
  backdrop-filter: blur(17.5px);
}

.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  .hamburger-nav {
    display: none;
  }

  .logo {
    cursor: pointer;
    margin-left: 30px;
    margin-top: 15px;
    width: 55px;
    height: 55px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    img {
      width: 100%;
      height: 100%;
    }
  }

  nav {
    li {
      display: inline-block;
      padding: 0 18px;
    }

    a {
      color: var(--gray-color);
      font-size: 18px;
      line-height: 16px;
      letter-spacing: 0.01em;
      transition: all 0.2s ease 0s;

      &:hover {
        font-weight: 600;
        // color: #000;
      }
    }
  }
}

.left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background-color: transparent;
    padding: 8px 30px;
    border: 2px solid var(--gray-color);
    color: var(--gray-color);
    outline: none;
    border-radius: 10px;
    cursor: pointer;

    .contact-btn {
      font-size: 18px;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    }
  }

  .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding-right: 30px;

    .social-media-icon a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      background-color: var(--primary-color);
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
    }

    svg {
      width: 20px;
      // height: 22px;
    }
    path {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 576px) {
  .nav-wrapper {
    // background-color: red;
  }

  .right-nav nav li {
    // display: none;
  }

  .right-nav .hamburger-nav {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 50px;
    // height: 30px;
    // border: 2px solid #000;
  }

  .header-headline {
  }

  .header-headline h1 {
    font-size: 20px;
    line-height: normal;
  }
}
