.company-value-container {
  height: 230vh;
  background: linear-gradient(179.4deg, #244365 0.52%, #1e8998 142.96%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  transform: skewY(0.001deg);

  padding: 100px 0;

  @media only screen and (max-width: 480px) {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
  }
  @media only screen and (max-width: 600px) {
    height: 100%;
    padding-bottom: 200px;
  }
}

.company-value-wrapper {
  text-align: center;

  h2 {
    padding: 10px;
    font-weight: 600;
    font-size: 35px;
    line-height: 65px;
  }
}

.company-value {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.company-value-items {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  margin-top: 60px;

  &:nth-child(even) {
    flex-direction: row-reverse;

    @media only screen and (max-width: 480px) {
      flex-direction: column;
    }
  }

  .company-value-outer-item {
    width: 130px;
    height: 130px;
    border: 2px solid #000;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;

    .company-value-inner-item {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
      height: 95%;
      border-radius: 50%;
      background: linear-gradient(180deg, #dbf5fe 0%, #f8e8ef 100%);
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        background: linear-gradient(270deg, #1e8998 8.62%, #225d78 94.83%);
        background-clip: text;
        color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
      }
    }
  }

  .arrow {
    width: 350px;
    height: 2px;
    background-color: #dcf5fe;
    position: relative;

    @media only screen and (max-width: 480px) {
      display: none;
    }
  }

  .arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    transform: translateY(-40%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #dcf5fe;
  }
  &:nth-child(even) {
    .arrow::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0px;
      transform: translateY(-40%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #dcf5fe;
    }
  }

  @media only screen and (max-width: 480px) {
    flex-direction: column;
    gap: 30px;
    max-width: 100%;
  }

  @media only screen and (max-width: 600px) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media only screen and (max-width: 840px) {
    max-width: 100%;
  }
}

.company-value-item-text {
  margin-right: 20px;
  max-width: 30%;

  p {
    font-size: 16px;
    text-align: center;

    @media only screen and (max-width: 480px) {
      font-size: 16px;
    }
  }

  @media only screen and (max-width: 480px) {
    max-width: 100%;
  }
}
