@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #1E8998;
    --secondary-color: #225D78;
    --black-color: #225d78;
    --white-color: #ffffff;
    --gray-color: #fbfbfb;
    font-family: 'Assistant', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: var(--gray-color);
}


li,
a {
    list-style: none;
    text-decoration: none;
}

.section-contact-btn {
    background-color: #375366;
    padding: 12px 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in;
    font-size: 14px;
}

.section-contact-btn:hover {
    background-color: #1a8595;
}