@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #1E8998;
    --secondary-color: #225D78;
    --black-color: #2D3134;
    --white-color: #ffffff;
    font-family: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    scroll-behavior: smooth;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

.section-contact-btn {
    background-color: #375366;
    padding: 12px 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in;
    font-size: 14px;
}

.section-contact-btn:hover {
    background-color: #1a8595;
}